body {
 background: #CCCCCC;
}  

#banner {
whidth:100%;
}

.principal{
background: #CCCCCC;
pedding: 30px;
}

.tituloprincipal {
padding-left: 20px;
h1 {
	text-align: center;
}
	

p{
	text-align: center;
}

#missao{
font-size: 20px
}

em strong{
color: #FF0000;
}
.itens{
font-size: italic
}

.benefícios {
background: #FFFFFF;
pedding: 20px;
}

h2 {
text-align: center;
}
ul {
display: inline-block;
vertical-aling: top;
widht: 20%;
margin right: 15%;
}

.imagembeneficios{
 width: 50%;
